body {
    background-color: #D7E8CA;
    /*color: #FFFBF0*/
}
.keyinfo {
    font-family: "Lucida Console", Monaco, monospace
}
.ks-success {
    color: darkgreen;
}
.ks-failure {
    color: darkred;
}
