{% extends "base.html" %}


{% block navbar %}
<div class="container">
    {% with curr = "keyinfo" %}
        {% include "navbar.html" %}
    {% endwith %}
</div>
{% endblock %}

{% block content %}
    {% if found %}
        {% if added is defined %}
        {% if added %}
        <h2>Key {{ key.shortid }} successfully added.</h2>
        {% endif %}
        {% endif %}
        <h2>{{ key.shortid }}</h2>
        <ul>
            <li><strong>pub:</strong> {{ key.get_algo_name()}}-{{ key.length }}/<a href="{{ url_for("user_display_keys.getkey", keyid=key.shortid) }}">0x{{ key.shortid }}</a> ({{ key.fingerprint }}) {% if key.revoked %}<strong style="color: red">[REVOKED]</strong>{% elif key.expired %}<strong style="color: red">[EXPIRED]</strong>{% endif %}
                <ul>
                    <li>uid: {{ key.uid }}</li>
                    <li>created: {{ key.get_created_ymd() }} expires: {{ key.get_expired_ymd() }}</li>
                </ul>
            </li>
            {% for sub in key.subkeys %}
                <li><em>sub:</em> 0x{{ sub[-8:] }} ({{ sub }})</li>
            {% endfor %}
            <li>sigs:</li>
            <ul>
                {% for sig in key.signatures %}
                <li style="white-space: pre;">{{  key.translate(sig) }} <a href="{{ url_for(".getkeyinfo", key=sig[0][-8:]) }}">{{  sig[0] }}</a> ({{ sig[1] }})</li>
                {% endfor %}
            </ul>
        </ul>
        Download key:
        <ul>
            <li><a href="{{ url_for("user_display_keys.getkey_dl_ascii", keyid=key.shortid) }}">ASCII</a></li>
            <li><a href="{{ url_for("user_display_keys.getkey_dl_raw", keyid=key.shortid) }}">Raw</a></li>
        </ul>
        Raw key:
        <pre><code>{{ keydata }}</code></pre>
    {% else %}
    <h3>Key not found.</h3>
    Sorry, there is no such key as {{ keyid }} on this server.
    {% endif %}
{% endblock %}
