{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for("frontend.index") }}">Skier</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if curr == "about" %}class="active"{% endif %}><a href="{{ url_for("frontend.about") }}">About</a></li>
        <li {% if curr == "add" %}class="active"{% endif %}><a href="{{ url_for("frontend.add") }}">Add a key</a></li>
        <li {% if curr == "search" %}class="active"{% endif %}><a href="{{ url_for("frontend.search") }}">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Run your own</a></li>
        <li><a href="#">API</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}