{% extends "base.html" %}

{% if search is defined %}
    {% set title = "Search Results for "  + search %}
{% else %}
    {% set title = "Search" %}
{% endif %}


{% block navbar %}
    <div class="container">
        {% with curr = "search" %}{% include "navbar.html" %}{% endwith %}
    </div>
{% endblock %}

{% block content %}
    <form role="form" class="form-inline text-center">
      <div class="form-group">
        <label for="keyid"><h4>Key ID or Name: </h4></label>
        <input type="text" style="width: 75%" class="form-control"
               id="keyid" name="keyid" placeholder="0x12345678" {% if search is defined %}value="{{ search }}"{% endif %}>
      <button type="submit" class="btn btn-default btn-sm">Submit</button>
      </div>
    </form>

    <div class="text-center">
    <br>
        Your key isn't here? Searching can take up to five minutes to update due to search caching.
    </div>

    {% if loading is defined %}
    <hr>
    <h4>You have entered a short query string - please wait whilst the keyring is searched. Refresh in a few minutes to see the results of your search.</h4>
    {% endif %}
    {% if keys is defined %}
        <hr>
        <h3><em>Search results</em></h3><br>
        <div class="keyinfo">
            {% if keys != [] %}
            {% for key in keys %}
                {# Loop over the list of KeyInfos #}
                <ul>
                    <li><strong>pub:</strong> {{ key.get_algo_name()}}-{{ key.length }}/<a href="{{ url_for("frontend.getkeyinfo", key=key.shortid) }}">0x{{ key.shortid }}</a> ({{ key.fingerprint }}) {% if key.revoked %}<strong style="color: red">[REVOKED]</strong>{% elif key.expired %}<strong style="color: red">[EXPIRED]</strong>{% endif %}
                        <ul>
                            <li>uid: {{ key.uid }}</li>
                            <li>created: {{ key.get_created_ymd() }} expires: {{ key.get_expired_ymd() }}</li>
                        </ul>
                    </li>
                    {% for sub in key.subkeys %}
                        <li><em>sub:</em> 0x{{ sub[-8:] }} ({{ sub }})</li>
                    {% endfor %}
                    <li>sigs:</li>
                    <ul>
                        {% for sig in key.signatures %}
                        <li style="white-space: pre;">{{  key.translate(sig) }} <a href="{{ url_for(".getkeyinfo", key=sig[0][-8:]) }}">{{  sig[0] }}</a> ({{ sig[1] }})</li>
                        {% endfor %}
                    </ul>
                </ul>
                <hr>
            {% endfor %}
            {% else %}
            No keys found.
            {% endif %}
        </div>
    {% endif %}
{% endblock %}